/* .admin-container {
    margin-top: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  thead {
    background-color: #4caf50;
    color: white;
  }
  
  th,
  td {
    font-size: 16px;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .poster {
    width: 150px;
    height: 200px;
    border-radius: 5px;
  }
  
  button {
    background-color: white;
    color: #4caf50;
    border: 2px solid #4caf50;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4caf50;
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  textarea {
    padding: 0.5rem;
    font-size: inherit;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
   */